html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana, arial;
}

body{
	background: rgb(159,193,255);
	background: radial-gradient(circle, rgba(159,193,255,1) 20%, rgba(171,220,255,1) 49%, rgba(241,218,255,1) 100%);
}

*{
	box-sizing: border-box;
}
button{
	-webkit-tap-highlight-color: transparent;
}
.app, .buttons-wraper{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.app{
	max-width: 920px;
	padding: 5vh;
}
h1{
	margin-top: 0;
}
.progress{
	width: 100%;
	height: 40vh;
	padding: 0;
	background: white;
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	margin-bottom: 6vw;
}
.progress-bar{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #f2aa52;
	transition: height .2s ease-out;
}
.progres-status{
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
	font-size: 6vw;
}
.buttons-wraper{
	gap: 6vw;
}
.buttons-square-row{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.buttons-square-row button{
	width: 45%;
	font-size: 5vw;
	border-radius: 20px;
	border: none;
	background: rgba(255,255,255,1);
	transition: background .4s;
	cursor: pointer;
	position: relative;
}
.buttons-square-row button:before {
  content: "";
  display: block;
  padding-bottom: 50%;
}
.buttons-square-row button:after {
  content: "";
  display: block;
  padding-top: 50%;
}
.buttons-square-row button:active {
	background: rgba(40, 145, 237, 1);
}
.buttons-square-row p{
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
}
.buttons-square-row span{
	display: block;
	font-size: 15vw;
}
.activeAction{
	animation: activeAnimation 1.5s ease-out infinite;
}
.disabledButton{
	pointer-events: none;
	background: rgba(255,255,255,.5) !important;
}
.abort-button{
	font-size: 5vw;
  width: 100%;
  padding-block: 20px;
	border-radius: 20px;
	border: none;
	background: rgba(247, 113, 2,0.9);
	cursor: pointer;
}
.abort-button:active{
	background: rgba(255, 97, 2,0.95);
}
@keyframes activeAnimation{
  0% {
   background: rgba(255,255,255,1);
  }
  40% {
    background: rgba(40, 168, 237, 1);
  }
  60% {
    background: rgba(40, 168, 237, 1);
  }
  100% {
		background: rgba(255,255,255,1);
  }
}
