html, body{
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
}
body{
  min-height: 100vh;
  min-height: -webkit-fill-available;
	background: url('back.jpg');
	background-size: cover;      
  background-repeat: no-repeat;
  background-position: center center;    
}
html {
  height: fill-available;
  height: -webkit-fill-available;
}
*{
	box-sizing: border-box;
}
button{
	-webkit-tap-highlight-color: transparent;
}
.app, .buttons-wraper, blinds-control, .main{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.app{
	max-width: 920px;
	height: calc(var(--vh, 1vh) * 100);
	padding: 5vw;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.main{
	min-height: 100%;
	gap: 5vw;
	transition: transform .5s ease-out;
}
.main-element{
	background: rgba(255,255,255, .7);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	width: 100%;
  height: calc(50% - 5vw);
  padding: 3vh;
  display: flex;
  flex-direction: column;
}
.title-text{
	margin: 0;
	font-size: 10vw;
	font-weight: 300;
}
.status-text{
	margin: 0;
	font-size: 8vw;
	font-weight: 600;
}
.main-button{
	border: none;
	background: #0c0c0cba;
	color: white;
	font-size: 4vw;
	padding: 4vw 3%;
	border-radius: 20px;
	width: 100%;
	margin-top: auto;
	cursor: pointer;
}
.main-button:active{
	background: #424242ba;
}
.blinds-control{
	width: 100%;
	max-height: calc(var(--vh, 1vh) * 100);
	padding: 5vw;
	transform: translateX(100%);
	transition: transform .5s ease-out;
	position: absolute;
	top: 0;
	left: 0;
}
.blinds-header{
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 9vw;
	margin-bottom: 5vw;
	font-weight: 600;
}
.blinds-header p{
	margin: 0;
}
.left-arrow{
	transform: rotate(180deg);
	font-size: 14vw;
	line-height: 9vw;
	color: black;
	cursor: pointer;
}
.left-arrow:active{
	color: #424242 !important;
}
.progress{
	width: 100%;
	height: 40vh;
	padding: 0;
	background: rgba(255,255,255, .7);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	margin-bottom: 6vw;
}
.progress-bar{
	height: calc(var(--vh, 1vh) * 100);
	position: absolute;
	top: 0;
	left: 0;
	border:none;
	width: 100%;
	background: rgba(242, 170, 82, .7);
	transition: height .2s ease-out;
}
.progres-status{
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
	-webkit-user-select: none;  
  -moz-user-select: none;  
  -ms-user-select: none;  
  user-select: none;   
	font-size: 6vw;
}
.buttons-wraper{
	gap: 6vw;
}
.buttons-square-row{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.buttons-square-row button{
	width: 45%;
	font-size: 5vw;
	border-radius: 20px;
	border: none;
	background: rgba(255,255,255,.7);
	backdrop-filter: blur(5px);
	transition: background .4s;
	cursor: pointer;
	position: relative;
}
.buttons-square-row button:before {
  content: "";
  display: block;
  padding-bottom: 50%;
}
.buttons-square-row button:after {
  content: "";
  display: block;
  padding-top: 50%;
}
.buttons-square-row button:active {
	background: rgba(40, 145, 237, .9);
}
.buttons-square-row p{
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
}
.buttons-square-row span{
	display: block;
	font-size: 15vw;
}
.activeAction{
	animation: activeAnimation 1.5s ease-out infinite;
	pointer-events: none;
}
.disabledButton{
	pointer-events: none;
	background: rgba(200,200,200,.4) !important;
}
.abort-button{
	font-size: 5vw;
  width: 100%;
  padding-block: 20px;
	border-radius: 20px;
	border: none;
	background: rgba(255, 112, 2,0.7);
	backdrop-filter: blur(5px);
	cursor: pointer;
}
.abort-button:active{
	background: rgba(255, 65, 0,0.95);
}
.hide-main{
	transform: translateX(-110%);
}
.show-screen{
	transform: translateX(0%);
}
hide-control{
	transform: translateX(100%);
}
@keyframes activeAnimation{
  0% {
   background: rgba(255,255,255,1);
  }
  40% {
    background: rgba(40, 168, 237, 1);
  }
  60% {
    background: rgba(40, 168, 237, 1);
  }
  100% {
		background: rgba(255,255,255,1);
  }
}
@media screen and (min-width: 920px){
	.app{
		max-width: 100%;
		max-height: 100vh;
		position: relative;
		justify-content: center;
		flex-direction: row;
		margin-inline: auto;
		padding: 5vh calc(50vw - 460px);
	}
	.main{
		transition: opacity .3s;
	}
	.progress{
		margin-bottom: 3vh;
	}
	.buttons-wraper{
		gap: 3vh;
	}
	.buttons-square-row button{
		width: 48.5%;
	}
	.progres-status, 
	.buttons-square-row button,
	.abort-button
	{
		font-size: 4vmin;
	}
	.buttons-square-row span{
		font-size: 7vmin;
	}
	.buttons-square-row button:before {
		padding-bottom: 30%;
	}	
	.buttons-square-row button:after {
		padding-top: 30%;
	}
	.left-arrow{
		line-height: 6vmin;
		font-size: 6vh;
	}
	.blinds-control{
		opacity: 0;
		pointer-events: none;
		max-width: 920px;
		transform: translateX(0%);
		transition: opacity .3s;
		left: calc(50vw - 460px);
		padding: 2vh;
	}
	.blinds-header{
		font-size: 6vmin;
		margin-bottom: 3vh;
	}
	.title-text{
	font-size: 6vmin;
	}
	.status-text{
		font-size: 5vmin;
	}
	.main-button{
		font-size: 4vmin;
		padding: 4vmin 3%;
	}
	.hide-main{
		opacity: 0;
		transform: none;
		pointer-events: none;
	}
	.show-screen{
		opacity: 1;
		pointer-events: unset;
		transform: none;
	}
	hide-control{
		opacity: 0;
		transform: none;
		pointer-events: none;
	}
}
