html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

*{
	box-sizing: border-box;
}

.app, .buttons-wraper{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.app{
	padding: 5vh 5vw;
}
.buttons-wraper{
	gap: 20px;
}

.buttons-wraper button{
	padding: 20px;
	font-size: 2rem;
}
