<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontrola rolet</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<div class="app">
		{% if error == 1 %}
      <div class="main">
				<div class="main-element" style="height: auto">
					<p class="title-text">Wystąpił błąd!</p>
					<p class="status-text" style="font-size: 1.5rem">Prawdopodobnie urządzenie zostało nieoczekiwanie zamknięte.<br>Sprawdź pliki konfiguracyjne.</p>
				</div>
			</div>
    {% else %}
		<div class="main">
			<div class="main-element">
				<p class="title-text">Rolety</p>
				<p class="status-text" id="main-rollers-status">Wczytywanie</p>
				<button class="main-button" id="blinds-button">Kontrola rolet</button>
			</div>
			<div class="main-element">
				<p class="title-text">Światło</p>
				<p class="status-text" id="light-status">Wczytywanie</p>
				<button class="main-button" id="light-button">Wczytywanie</button>
			</div>
		</div>
		<div class="blinds-control">
			<div class="blinds-header">
				<p class="left-arrow">&#10140;</p>
				<p>Kontrola rolet</p>
			</div>
			<div class="progress">
				<div class="progress-bar"></div>
				<p class="progres-status" id="progres-status">Wczytywanie...</p>
			</div>
			<div class="buttons-wraper">
				<div class="buttons-square-row">
					<button id="roll-up"><p><span>↥</span>OTWÓRZ</p></button>
					<button id="roll-down"><p><span>↧</span>ZAMKNIJ</p></button>
				</div>
				<button class="abort-button" id="abort">ZATRZYMAJ</button>
			</div>
    </div>
    {% endif %} 
	</div>
	<script>
		const sleep = {{ sleep }}
		const maxStep = {{ maxStep }}
		let lightStatus
		{%if light_status == 0 %}
			lightStatus = false
		{% else %}
			lightStatus = true
		{% endif %}
	</script>
	<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
