<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontrola rolet</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
	<div class="app">
		<h1>Kontrola rolet</h1>
		<div class="progress">
			<div class="progress-bar"></div>
			<p class="progres-status" id="steps">Wczytywanie...</p>
		</div>
		<div class="buttons-wraper">
			<div class="buttons-square-row">
				<button id="roll-up"><p><span>↥</span>OTWÓRZ</p></button>
				<button id="roll-down"><p><span>↧</span>ZAMKNIJ</p></button>
			</div>
			<button class="abort-button" id="abort">ZATRZYMAJ</button>
    </div>
	</div>
	<script>
		const sleep = {{ sleep }}
		const maxStep = {{ maxStep }}
	</script>
	<script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
